{% extends 'global/base.html' %}


{% block loadings %}
    {% load i18n %}
{% endblock loadings %}
    

{% block content %}
  <div class="content-form-product">
    <form class="form-product" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h1 class="form-title">Create a new product</h1>
        <div class="product-col">
            <label for="inputName4" class="form-label">
                {% trans 'Name' context "form label"%}
            </label>
            {{ form.name }}
        </div>
        <div class="product-col">
            <label for="inputDescription4" class="form-label">{% translate 'Price' %} $</label>
            {{ form.price }}
        </div>
        <div class="product-col">
            <label for="inputDescription" class="form-label">
                {% translate 'Description' %}
            </label>
            {{ form.description}}
        </div>
        <div class="product-col">
            <label for="inputQuantityStocked" class="form-label">
                {% translate 'Quantity Stocked' %}
            </label>
            {{ form.quantity_stocked }}
        </div>
        <div class="product-col">
            <label for="inputCategory" class="form-label">{% translate 'Category' %}</label>
            {{ form.category }}
        </div>
        <div class="product-col">
            <label for="inputCover" class="form-label">{% translate 'Cover' %}</label>
            {{ form.cover }}
        </div>
        <div class="product-col">
            <button type="submit" class="btn btn-primary btn-form">{% translate 'Create' %}</button>
        </div>
    </form>
  </div>
{% endblock content %}