{% extends 'global/base.html' %}

{% block loadings %}
  {% load i18n %}
{% endblock loadings %}
  


{% block message %}
    {% include 'global/partials/messages.html' %}
{% endblock message %}
    

{% block content %}
<div class="content-form-login">
    <form class="form-login" enctype="multipart/form-data" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <h1 class="form-title">Login</h1>
        <div class="login-col">
          <label for="inputUsername" class="form-label">{% translate 'Username' %}</label>
          <input type="text" class="form-control input-border" id="inputUsername" name="username">
        </div>
        <div class="login-col">
          <label for="inputPassword4" class="form-label">{% translate 'Password' %}</label>
          <input type="password" class="form-control input-border" id="inputPassword4" name="password">
        </div>
        <div class="login-col">
            <button type="submit" class="btn btn-primary btn-form">{% translate 'login' %}</button>
        </div>
    </form>
</div>
{% endblock content %}
