{% extends 'global/base.html' %}

{% block loadpermissions %}{% load i18n %}{% endblock loadpermissions %}


{% block message %}
    {% include 'global/partials/messages.html' %}
{% endblock message %}
    
{% block content %}
    <div class="item-detail">
        {% if product.cover.url != "" %}
            <img src="{{ product.cover.url }}" alt="product_img">
            <div class="product-informations">
                <h1>{{ product.name }}</h1>
                <p>{{ product.description }}</p>
                <h2>$ {{ product.price }}</h2>
                <div class="buttons">
                    <a class="product-btn color-add-cart"
                     href="{% url 'add_to_cart' id=product.id %}">{% translate 'Add to cart' %}</a>
                    <a class="product-btn color-buy" href="{% url 'buy' id=product.id %}">{% translate 'Buy now' %}
                    </a>
                </div>
            </div>     
        {% endif %}
    </div>
{% endblock content %}
