/* vars */
:root {
    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-2: #c7c7c7;
}

/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/* navbar */

.header {
    padding: 2.5rem 0;
    width: 100%;
    background-color: rgb(46, 39, 39);
    margin-bottom: 2rem;
}

ul {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 2rem;
    gap: 8rem;
    display: flex;
    list-style: none;
    justify-content: center;
}

.header ul .li-links {
    padding-top: 1.8rem;
}

.logo {
    margin: 0;
}

.nav-links {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 300ms ease-in-out;
    margin: 0;
}

.nav-links:hover {
    color: rgb(136, 104, 167);
}

/* content */

.content {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    place-items: center;
    text-align: center;
}

.item {     
    color: black;   
    width: 70%;
    background-color: white;
    border: 0.2rem solid black;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
    margin: 2rem 0;
    border-radius: 0.5em;
    transition: all 300ms ease-in-out;
}

.item:hover {
    transform: scale(1.02);
    box-shadow: -.8rem .8rem 1.8rem rgba(0, 0, 0, .25);
}

.item-detail {
    color: black;   
    width: 60%;
    background-color: white;
    border: 0.2rem solid black;
    text-align: center;
    padding: 2rem 1rem;
    margin: 2rem 0;
    border-radius: 0.5em;
    transition: all 300ms ease-in-out;
}

.item-img {
    width: 100%;
    height: 80%;
}

.product_title {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}

.product_price {
    font-size: 2.2rem;
    padding: 1rem 0;
}

.title_description {
    font-size: 0.8rem;
    text-align: left;
    margin-left: 1rem;
}

.product_available {
    margin-top: 2rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    background: #e4dcdc;
    border-radius: 5px;
}

.product_edit {
    padding: 0.5rem 1.3rem;
    background: orange;
    margin-right: 0.5rem;
    border-radius: 8px;
}

.product_delete {
    padding: 0.5rem 1.3rem;
    background: rgb(197, 10, 10);
    color: white;
    margin-left: 0.5rem;
    border-radius: 8px;
}

.sale {
    margin: 2rem;
}

.product_buy{
    padding: 0.7rem 2rem; 
    border-radius: 5px;
    background: rgb(155, 110, 26);
}


.links-edit {
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

/* Footer */

.footer {
    padding: 2.5rem 0;
    width: 100%;
    background-color: rgb(46, 39, 39);
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.logo {
    margin-bottom: 4rem;
}

.social_medias li {
    font-size: 2rem;
}

.social_medias ul {
    gap: 2rem;
}

.copywriter {
    text-align: center;
    background-color: rgb(46, 39, 39);
    color: white;
}

/* Form */
.content-form {
    width: 60%;
    padding: 2rem;
    border-radius: 5px;
    background: rgb(223, 220, 220);
}

.content-form-login {
    width: 40%;
    margin: 10rem 0;
    padding: 2rem;
    border-radius: 5px;
    background: rgb(223, 220, 220);
}


/* Messages */
.messages-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
}

.message {
padding: 1rem;
border-radius: 4px;
border: 1px solid var(--color-dark-text);
background: var(--color-gray-2);
color: var(--color-dark-text);
}

.message-error {
border: 1px solid var(--color-error-dark);
background: var(--color-error-light);
color: var(--color-error-dark);
}

.message-success {
border: 1px solid var(--color-success-dark);
background: var(--color-success-light);
color: var(--color-success-dark);
}

.message-warning {
border: 1px solid var(--color-warning-dark);
background: var(--color-warning-light);
color: var(--color-warning-dark);
}

.message-alert {
border: 1px solid var(--color-alert-dark);
background: var(--color-alert-light);
color: var(--color-alert-dark);
}

.message-info {
border: 1px solid var(--color-info-dark);
background: var(--color-info-light);
color: var(--color-info-dark);
}

.message-debug {
border: 1px solid var(--color-debug-dark);
background: var(--color-debug-light);
color: var(--color-debug-dark);
}

.main-content {
    padding-top: 0;
    text-align: center;
}


/* Sales */

.sales_panel {
    display: flex;
    gap: 5rem;
    justify-content: center;
    font-size: 1.5rem;
    color: rgb(63, 116, 63);
    margin-top: 2rem;
}
