{% load static %}
<div class="footer">
    <div class="logo">
        <img src="{% static 'global/img/logo.png' %}" alt="logo">
    </div>
    <div class="contato">
        FONE: (99) 99999-9999
    </div>
    <div class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>
    <div class="social_medias">
        <ul>
            <li><a href="#"></a><i class="fa-brands fa-instagram"></i></li>
            <li><a href="#"></a><i class="fa-brands fa-facebook"></i></li>
            <li><a href="#"></a><i class="fa-brands fa-x-twitter"></i></li>
        </ul>
    </div>
</div>

<div class="copywriter">
    Todos os direitos reservados
</div>
