<div class="header">
    <ul>
        <li><a class="logo" href="{% url 'index' %}"><img src="#" alt="logo"></a></li>
        <li><a class="nav-links" href="#">about us</a></li>
        <li><a class="nav-links" href="#">products</a></li>
        {% if user.is_authenticated %}
            <li><a class="nav-links" href="{% url 'logout' %}">logout</a></li>
        {% else %}
            <li><a class="nav-links" href="{% url 'login' %}">login</a></li>
            <li><a class="nav-links" href="{% url 'register' %}">register</a></li>
        {% endif %}
    </ul>
</div>
