{% load permission_tags %}

<a href="{% url 'product' id=product.id %}">
    <p class="product_title">{{ product.name }}</p>
    {% if product.cover.url != '' %}
    <img class="item-img" src="{{ product.cover.url }}" alt="product image">
    {% endif %}
    <p class="product_price">$ {{ product.price }}</p>
    <p class="title_description">Description:</p>
    <p>{{ product.description }}.</p>
    <p class="product_available">Available - {{ product.quantity_stocked }} unit</p>
    <div class="links-edit">


        {% if user|has_role:'Admin' %}
            <a class="product_edit" href="{% url 'update' id=product.id %}">Edit</i></a>
            <a class="product_delete" href="{% url 'delete' id=product.id %}"><i class="fa-solid fa-trash"></i></a>
        {% else %}
            <div class="sale">
                <a class="product_buy" href="{% url 'buy' id=product.id %}">Buy</a>
            </div>
        {% endif %}
    </div>
</a>    